/* Стили для страницы "О нас" */
.about {
    text-align: center;
    padding-top: 30px;
    background-image: url('../public/backgrounds/table.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: relative;
    top: -15px;
}

.features {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.feature {
    text-align: center;
    color: #333;
    flex-basis: calc(33.33% - 20px);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}

.feature__icon {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    background-color: #FE8800;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
}

.feature__icon-img {
    width: 70px;
    height: 70px;
    filter: invert(1);
} 