/* Базовые стили */
.page {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Навигация */
.nav {
    background-color: #17181C;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    z-index: 10;
}

.nav__logo-link {
    display: flex;
    align-items: center;
}

.nav__logo {
    height: 40px;
    width: auto;
    transition: transform 0.3s ease;
}

.nav__logo:hover {
    transform: scale(1.1);
}

.nav__link {
    text-decoration: none;
    color: #FFFF;
    font-weight: bold;
}

/* Кнопки */
.button {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.button--cta {
    background-color: #FE8800;
    color: white;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 1.1em;
}

.button--cta:hover {
    background-color: #B46000;
}

.button--back {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #FE8800;
    padding: 10px 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    z-index: 10;
}

.button--back:hover {
    background-color: rgba(254, 136, 0, 0.8);
    color: #fff;
    transform: scale(1.05);
}

.button__back-arrow {
    font-size: 24px;
    margin-right: 8px;
}

/* Типографика */
h1 {
    font-size: 3em;
    margin-bottom: 40px;
    color: #333;
    font-family: 'Bad Script', Arial, sans-serif;
}

p {
    font-family: 'Bad Script', Arial, sans-serif;
    font-size: 2em;
} 