/* Стили для стрелок навигации */
.nav-arrow {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    text-decoration: none;
}

.nav-arrow__symbol {
    font-size: 5rem;
    color: #FE8800;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    transform: rotate(5deg);
}

.nav-arrow:hover .nav-arrow__symbol {
    color: #B46000;
    transform: scale(1.1) rotate(5deg);
}


.nav-arrow--left {
    left: 25%;
    top: 65%;
    transform: rotate(170deg);
}

.nav-arrow--right {
    right: 25%;
    top: 50%;
    transform: rotate(345deg);
}

.nav-arrow--to-categories .nav-arrow__symbol, 
.nav-arrow--to-meat .nav-arrow__symbol {
    transform: rotate(175deg);
}

.nav-arrow--to-categories:hover .nav-arrow__symbol, 
.nav-arrow--to-meat:hover .nav-arrow__symbol {
    transform: scale(1.1) rotate(175deg);
} 